
@media (max-width: 576px){
    .MainContact {
        margin-top: 20%;
    }
    
    .parrafoFrase {
        font-family: fontboreas;
        font-style: normal;
        color: #1E1E1E;
        justify-content: center;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .parrafoMail {
        font-family: fontboreas;
        font-style: normal;
        color: #1E1E1E;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .parrafoInsta {
        font-family: fontboreas;
        font-style: normal;
        color: #1E1E1E;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}



    